{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.jplayer.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
      var $ = jQuery;

      var volume = localStorage.getItem('volume');
      if (volume == null)
        volume = 0.5;

      $(document).ready(function () {

        updatePlaylist();
        setInterval("updatePlaylist()", 10000);

        window.mainPlayer = $("#jquery_jplayer_1");
        var ready = false;

        $("#jquery_jplayer_1").jPlayer({
          ready: function (event) {
            ready = true;
            $("#volume-slider").val(volume);
            $("#volume-percentage").text(volume * 100 + '%');
          },
          pause: function () {
            $(this).jPlayer("clearMedia");
          },
          error: function (event) {
            if (ready && event.jPlayer.error.type === $.jPlayer.error.URL_NOT_SET) {
              // Setup the media stream again and play it.
              $(this).jPlayer("setMedia", {
                mp3: `{{ config.ICECAST_STREAM_URL }}?nocache=${Date.now()}`,
              }).jPlayer("play");
            }
          },
          supplied: "mp3",
          preload: "none",
          keyEnabled: false,
          volume: volume,
        });
      })
      .on('change', '#volume-slider', function (e) {
        window.mainPlayer.jPlayer("volume", $(this).val());
        $("#volume-percentage").text($(this).val() * 100 + '%');
        localStorage.setItem('volume', $(this).val());
      })
      .on('click', '#play-toggle', function (e) {
        let action = $(this).is('.fa-play-circle') ? "play" : "pause";
        window.mainPlayer.jPlayer(action);
        $(this).toggleClass('fa-play-circle fa-pause-circle');
      })
      .keyup(function (event) {
        let key = (event.keyCode ? event.keyCode : event.which);
        if (key == '32') {
          let action = $("#play-toggle").is('.fa-play-circle') ? "play" : "pause";
          window.mainPlayer.jPlayer(action);
          $("#play-toggle").toggleClass('fa-play-circle fa-pause-circle');
        }
      });

      function updatePlaylist() {
        function format_track(track) {
          return (track.artist) ? (track.artist + " - " + track.title) : track.title;
        }

        function format_duration(acc) {
          let time = "";
          if (acc < 60) {
            time = "менше хвилини";
          } else {
            time = Math.round(acc / 60);
            if ((time % 100) > 4 && (time % 100) < 20) {
              time += " хвилин";
            } else {
              var choices = ["хвилину", "хвилини", "хвилин"];
              var cases = [2, 0, 1, 1, 1, 2];
              var i = (time % 10) < 5 ? (time % 10) : 5;
              time += " " + choices[cases[i]];
            }
          }
          return time + " тому";
        }

        $.getJSON("{{ url_for('playlist_json') }}", function (response) {
          // Update the "now playing"
          $("#nowplaying").text(format_track(response.current));

          // Update the current/peak listeners counts
          $("#listeners").text(`${response.listeners.current} (пік ${response.listeners.peak})`);

          // Update playlist
          var content = '<tr><td class="current_track track">';
          content += format_track(response.current);
          content += '</td><td class="current_track dur"><i class="fa fa-arrow-circle-o-left"></i></td></tr>';

          let ago = parseFloat(response.elapsed);
          response.before.forEach((track) => {
            content += '<tr><td class="track">';
            content += format_track(track);
            content += '</td><td class="dur">'
            content += format_duration(ago);
            content += '</td></tr>';
            ago += parseFloat(track.time);
          })

          $("#playlist_body").html(content);
        });
      }

      //]]>
    </script>
{%- endblock %}

{% block body %}
  <div class="box">
    <div class="controls">
      <div id="jquery_jplayer_1" class="jp-jplayer"></div>
      <div class="radioplayer" id="radioplayer">
        <div class="radioplayer-row">
          <div class="current-track">
            <header>
              <h1 id="nowplaying"></h1>
            </header>
          </div>
          <div class="button-group playback-buttons">
            <div class="button-section">
              <div class="button inline">
                <i id="play-toggle" class="fa fa-play-circle fa-3x" aria-hidden="true"></i>
              </div>
            </div>
            <div class="button-section">
              <input type="range" id="volume-slider" name="volume" min="0" max="1" step="0.1" value="0.5"/>
            </div>
            <span class="fa" id="volume-percentage">50%</span>
            <div class="button-section">
              <div class="button inline">
                <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="channel-row">
        <div class="channel-row-block">
          <span>[ <span class="inlineheading">слухачів:</span> <span id="listeners"></span> ]</span>
        </div>
        <div class="channel-row-block-right">
          <span>[ <span class="inlineheading">плейліст:</span>
            <a id="mp3link" target="_blank" href="{{ url_for('live_m3u') }}">m3u</a> /
            <a id="mp3link" target="_blank" href="{{ url_for('live_xspf') }}">xspf</a>
          ]</span>
        </div>
      </div>
    </div>

    <hr/>

    <div>
      <table id="playlist" class="playlist">
        <tbody id="playlist_body"></tbody>
      </table>
    </div>

    <hr/>

    {% if fediverse_url -%}
    <a class="widget-social__link widget__link btn" title="Fediverse" rel="noopener noreferrer" href="{{ fediverse_url }}" target="_blank"><i class="icon-fediverse" aria-hidden="true"></i></a>
    {%- endif %}

    {% if github_url -%}
    <a class="widget-social__link widget__link btn" title="GitHub" rel="noopener noreferrer" href="{{ github_url }}" target="_blank"><i class="icon-github" aria-hidden="true"></i></a>
    {%- endif %}
  </div>
{% endblock %}
